/* Arquivo CSS das Páginas HTML index2 mesas */
a:link {
	color:#883322; 
}

a:visited {
	color:#552211;
}

address {
	display:block;
	float:right;
}

.apres {
	text-align: center;
	font-size: 18px;
}

body {
	background-color: #99CCCC;
	color: #883322;
	font: 16px 'Stoke', verdana, liberation;
}

.colTH {
	background-color: #B8AEA9;
	text-align: left;
}

.ender {
	font-size: 15px;
	float: right;
	line-height: 140%;
	text-align: right;
}

h3 {
	color:#883322;
}

header {
	display: block;
	margin-bottom: 1px;
}

.imgCadeira {
	width:60px;
	height: 78px;
}

.imgCel {
	background-color:#FFFFFF;
}

.imglogo {
	border-bottom: 3px solid gray;
	margin-bottom: 6px;
	padding-bottom: 15px;
}

.linTH {
	background-color: #B8AEA9;
	vertical-align: middle;
	text-align:center;
}

.listaMesas {
	color: #000000;
	line-height: 200%;
	list-style-type: lower-roman;
	font-family: 'Raleway', arial, ubuntu;
}

nav {
	display: block;
	float: left;
	font-family: 'Stoke', verdana, liberation;
	font-weight: bold;
	width: 170px;
	margin-right: 10px;

}

nav ul {
	color: #883322;
	line-height: 230%;
	margin-top: 40px;
}

.preco {
	color: #DD0000;
	font-weight: bold;
	vertical-align: middle;
}

section {
	display:block;
	float: right;
	width:77%;
}

tabCadeira {
	border: 1px solid;
	border-collapse: collapse;
	margin-top: 6px;
	background-color: #D5D1CF;
	font-family: 'Raleway', arial, ubuntu;
}

td, th {
	border: 3px solid #96867C;
	color: #000000;
	padding: 6px 12px 6px 12px;
}

.titulo {
	background-color: #8C7B70; 
	color: #EEEE00;
	font: bold 24px;
	text-align: center;
}

ul {
	line-height: 200%;
	list-style-type: square;
}























